publicacion-hitl.blueprint.json
{"flow":[{"id":1,"mapper":{"base":"appLG6Za2wB2QI5vk","table":"tblNRoipFbDbYwr0C","formula":"{Estado} = 'Aprobado por Humano'","maxRecords":"10"},"module":"airtable:ActionSearchRecords","version":3,"metadata":{"designer":{"x":0,"y":0}},"parameters":{"__IMTCONN__":9831029}},{"id":2,"filter":{"name":"Compuerta HITL: solo Aprobado por Humano","conditions":[[{"a":"{{1.Estado}}","b":"Aprobado por Humano","o":"text:equal"}]]},"mapper":{"text":"✅ Ticket RESUELTO — respuesta enviada al cliente\nAsunto: {{1.Asunto}}\n\nRespuesta enviada:\n{{1.Respuesta_Sugerida}}\n\nRegistro: {{1.id}}","parse":false,"mrkdwn":true,"channel":"#revision-contenido","channelWType":"manualy"},"module":"slack:CreateMessage","version":4,"metadata":{"designer":{"x":300,"y":0}},"parameters":{"__IMTCONN__":9856944}},{"id":3,"mapper":{"id":"{{1.id}}","base":"appLG6Za2wB2QI5vk","table":"tblNRoipFbDbYwr0C","record":{"Estado":"Resuelto","Aprobado_Por":"Revisor Humano (HITL)"}},"module":"airtable:ActionUpdateRecords","version":3,"metadata":{"designer":{"x":600,"y":0}},"parameters":{"__IMTCONN__":9831029}}],"name":"Final - Publicacion HITL (Aprobado -> Resuelto)","metadata":{"instant":false,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":false,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false}},"scheduling":{"type":"indefinitely","interval":900},"interface":{"input":[],"output":[]}}