triage-ia.blueprint.json
{"flow":[{"id":2,"mapper":{},"module":"airtable:TriggerWatchRecords","version":3,"metadata":{"designer":{"x":-164,"y":-81}},"parameters":{"base":"appLG6Za2wB2QI5vk","view":"","table":"tblNRoipFbDbYwr0C","config":{"labelField":"Asunto","triggerField":"Fecha_Ingreso"},"formula":"{Estado} = 'Pendiente'","maxRecords":2,"__IMTCONN__":9831029,"useColumnId":false}},{"id":3,"mapper":{"model":"gpt-4o-mini","select":"chat","messages":[{"role":"system","content":"Sos un asistente experto en soporte al cliente. Analiza el ticket y devolve UNICAMENTE un objeto JSON valido, sin texto adicional, sin explicaciones y sin bloques de codigo markdown, con esta estructura exacta: {\"categoria\":\"Soporte Técnico|Recursos Humanos|Administrativo\",\"urgencia\":\"Alta|Media|Baja\",\"sentimiento\":\"Frustración|Neutral|Preocupación|Esperanza\",\"respuesta_sugerida\":\"respuesta profesional, empatica y breve al cliente, en español\"}. Elegi un unico valor para categoria, urgencia y sentimiento. Basa la clasificacion solo en el contenido del ticket. No inventes datos."},{"role":"user","content":"Asunto: {{2.Asunto}}\nCuerpo: {{2.Cuerpo}}"}],"max_tokens":500,"temperature":0.4},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":7,"mapper":{"base":"appLG6Za2wB2QI5vk","table":"tbltPEcFsqRafm7A0","record":{"Payload":"Fallo en el modulo de OpenAI (clasificacion IA). Ticket ID: {{2.id}} | Asunto: {{2.Asunto}} | Cuerpo: {{2.Cuerpo}}","Escenario":"Final - Triage IA (generacion HITL)","Tipo_Error":"API Caída","Estado_Error":"Nuevo"}},"module":"airtable:ActionCreateRecord","version":3,"metadata":{"designer":{"x":150,"y":150}},"parameters":{"__IMTCONN__":9831029}},{"id":8,"mapper":{"result":"{\"categoria\":\"General\",\"urgencia\":\"Media\",\"sentimiento\":\"Neutral\",\"respuesta_sugerida\":\"⚠️ La IA no pudo procesar automaticamente este ticket. Requiere revision y respuesta manual.\"}"},"module":"builtin:Resume","version":1,"metadata":{"designer":{"x":450,"y":150}}}],"version":1,"metadata":{"designer":{"x":150,"y":-81}},"parameters":{"__IMTCONN__":9580996}},{"id":4,"mapper":{"json":"{{3.result}}"},"module":"json:ParseJSON","version":1,"metadata":{"designer":{"x":450,"y":-81}},"parameters":{}},{"id":5,"mapper":{"id":"{{2.id}}","base":"appLG6Za2wB2QI5vk","table":"tblNRoipFbDbYwr0C","record":{"Estado":"Esperando Aprobación","Urgencia":"{{4.urgencia}}","Categoria":"{{4.categoria}}","Sentimiento":"{{4.sentimiento}}","Respuesta_Sugerida":"{{4.respuesta_sugerida}}"}},"module":"airtable:ActionUpdateRecords","version":3,"metadata":{"designer":{"x":750,"y":-81}},"parameters":{"__IMTCONN__":9831029}},{"id":6,"mapper":{"text":"🎫 Nuevo ticket procesado por IA — requiere aprobación\nAsunto: {{2.Asunto}}\nCategoría: {{4.categoria}} | Urgencia: {{4.urgencia}} | Sentimiento: {{4.sentimiento}}\n\nRespuesta sugerida por la IA:\n{{4.respuesta_sugerida}}\n\n👉 Para aprobar: en Airtable, cambiá el Estado del ticket a \"Aprobado por Humano\".\nRegistro: {{2.id}}","parse":false,"mrkdwn":true,"channel":"#revision-contenido","channelWType":"manualy"},"module":"slack:CreateMessage","version":4,"metadata":{"designer":{"x":1050,"y":-81}},"parameters":{"__IMTCONN__":9856944}}],"name":"Final - Triage IA (generacion HITL)","metadata":{"instant":false,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false}},"scheduling":{"type":"indefinitely","interval":900},"interface":{"input":[],"output":[]}}